.our-advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantage {
  display: flex;
  @extend %list;
  align-content: center;
  flex-wrap: nowrap;
}

.advantages {
  width: 270px;
  @extend %list;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.icon-svg {
  display: inline-flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: $background-button-color;
  border-radius: 4%;
  justify-content: center;
  align-items: center;
}

.section-caption {
  color: $tittle-text-color;
  font-family: $main-font, $reserv-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
}
.text-caption {
  font-family: $main-font, $reserv-font;
  font-size: 14px;
  line-height: 1.71;
  color: $primary-text-color;
}
