.top .conteiner {
  display: flex;
  padding: 0;
  // align-items: baseline;
  background-color: $heder-background-color;
  color: $tittle-text-color;
}
.top-second .conteiner {
  // border-bottom: 1px solid #ececec;
  display: flex;
  // align-items: baseline;
}
